@import 'tailwindcss';

/* @theme inline{

} */

:root {
    --font-Roboto: 'Roboto', sans-serif;
}

@layer base {
    body{
        margin-left: 10px;
    }
    h1 {
        font-family: var(--font-h1);
        font-size: 3rem;
        font-weight: bold;
    }
    h2 {
        font-family: var(--font-h1);
        font-size: 2rem;
        font-weight: bold;
    }
    h3 {
        font-family: var(--font-h1);
        font-size: 1.5rem;
        font-weight: bold;
    }
    p {
        font-family: var(--font-Roboto);
        font-size: 1rem;
    }
}
